<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/solar-power-icon.png"/>
        <p id="title">Solar Power</p>
     </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>
        Solar Power

      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2 class="mbr-section-title align-center mbr-fonts-style mbr-bold mbr-black display-2">Modelo de Franquias</h2>
        <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style mbr-black display-5">Os melhores modelos de franquias para você atuar em qualquer cidade do Brasil.</h3>
        <ion-button href="https://spcontas.leaderp.com.br/">Área do Franqueado</ion-button>

  </div>
</ion-content>



